name: Publish Package to npmjs

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      dry:
        description: Dry run
        required: false
        default: false
        type: boolean

permissions:
  contents: read
  id-token: write  # Required for OIDC

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - name: install bc-stubs
        run: |
          npm install && npm ci
          cd bc_data
          npm install && npm ci

      - name: Publish release bc-stubs
        run: |
          if [ ${{ inputs.dry }} = true ]; then
            npm publish --dry-run --tag="dry"
          else
            npm publish
          fi

      - name: Publish release bc-data
        run: |
          cd bc_data
          if [ ${{ inputs.dry }} = true ]; then
            npm publish --dry-run --tag="dry"
          else
            npm publish
          fi
